canvas {
    border: 2px dashed black;
    animation-name: example1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   
}

@keyframes example1{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px yellow;}
}